.colortext {
    color: green;
}
body {
    font-family: Arial, sans-serif;
}
.letter {
    color: red ;
    font-size: 200%;
    font-family: serif;
    position: relative;
    top: 1px;
}

.block1 { 
    width: 200px; 
    background: rgb(252, 6, 6);
    padding: 5px;
    padding-right: 10px; 
    border: solid 1px black; 
    
   }
   .block2 { 
    width: 200px; 
    background: #fc0; 
    padding: 5px; 
    border: solid 1px black; 
   }
   .text {
       text-align: center;
   }